
ul{
    cursor: pointer;
    color:white;
    display: flex;
    list-style-type: none;
}
li{
    margin:25px;
    font-size: 1.5em;
   
}

a{
  color: white;
  text-decoration: none;
}
.collapse navbar-collapse a:hover{
  color: blue;
}